<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-work-space-heading" data-cy="WorkSpaceCreateUpdateHeading" jhiTranslate="toDoListApp.workSpace.home.createOrEditLabel">
        Create or edit a Work Space
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="toDoListApp.workSpace.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="toDoListApp.workSpace.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let dateCreatedRef = editForm.get('dateCreated')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateCreated" jhiTranslate="toDoListApp.workSpace.dateCreated">Date Created</label>
          <div class="input-group">
            <input
              id="field_dateCreated"
              data-cy="dateCreated"
              type="text"
              class="form-control"
              name="dateCreated"
              ngbDatepicker
              #dateCreatedDp="ngbDatepicker"
              formControlName="dateCreated"
            />
            <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (dateCreatedRef.invalid && (dateCreatedRef.dirty || dateCreatedRef.touched)) {
            <div>
              @if (editForm.get('dateCreated')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="toDoListApp.workSpace.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let dateModifiedRef = editForm.get('dateModified')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateModified" jhiTranslate="toDoListApp.workSpace.dateModified">Date Modified</label>
          <div class="input-group">
            <input
              id="field_dateModified"
              data-cy="dateModified"
              type="text"
              class="form-control"
              name="dateModified"
              ngbDatepicker
              #dateModifiedDp="ngbDatepicker"
              formControlName="dateModified"
            />
            <button type="button" class="btn btn-secondary" (click)="dateModifiedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (dateModifiedRef.invalid && (dateModifiedRef.dirty || dateModifiedRef.touched)) {
            <div>
              @if (editForm.get('dateModified')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let modifiedByRef = editForm.get('modifiedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_modifiedBy" jhiTranslate="toDoListApp.workSpace.modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
          @if (modifiedByRef.invalid && (modifiedByRef.dirty || modifiedByRef.touched)) {
            <div>
              @if (editForm.get('modifiedBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sharedWorkspace" jhiTranslate="toDoListApp.workSpace.sharedWorkspace"
            >Shared Workspace</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="sharedWorkspace"
            id="field_sharedWorkspace"
            data-cy="sharedWorkspace"
            formControlName="sharedWorkspace"
          />
        </div>

        <div class="mb-3">
          <label for="field_registereds" jhiTranslate="toDoListApp.workSpace.registered">Registered</label>
          <select
            class="form-control"
            id="field_registereds"
            data-cy="registered"
            multiple
            name="registereds"
            formControlName="registereds"
            [compareWith]="compareRegistered"
          >
            @for (registeredOption of registeredsSharedCollection; track $index) {
              <option [ngValue]="registeredOption">{{ registeredOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
