<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notification(); as notificationRef) {
      <div>
        <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="toDoListApp.notification.detail.title">Notification</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ notificationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="toDoListApp.notification.message">Message</span></dt>
          <dd>
            <span>{{ notificationRef.message }}</span>
          </dd>
          <dt><span jhiTranslate="toDoListApp.notification.alertTime">Alert Time</span></dt>
          <dd>
            <span>{{ notificationRef.alertTime | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="toDoListApp.notification.disableNotification">Disable Notification</span></dt>
          <dd>
            <span>{{ notificationRef.disableNotification }}</span>
          </dd>
          <dt><span jhiTranslate="toDoListApp.notification.task">Task</span></dt>
          <dd>
            @if (notification()!.task) {
              <div>
                <a [routerLink]="['/task', notification()!.task?.id, 'view']">{{ notificationRef.task?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/notification', notificationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
