<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-registered-heading" data-cy="RegisteredCreateUpdateHeading" jhiTranslate="toDoListApp.registered.home.createOrEditLabel">
        Create or edit a Registered
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="toDoListApp.registered.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_accountNo" jhiTranslate="toDoListApp.registered.accountNo">Account No</label>
          <input type="text" class="form-control" name="accountNo" id="field_accountNo" data-cy="accountNo" formControlName="accountNo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_linkWorkspace" jhiTranslate="toDoListApp.registered.linkWorkspace">Link Workspace</label>
          <input
            type="text"
            class="form-control"
            name="linkWorkspace"
            id="field_linkWorkspace"
            data-cy="linkWorkspace"
            formControlName="linkWorkspace"
          />
        </div>

        <div class="mb-3">
          <label for="field_workSpaces" jhiTranslate="toDoListApp.registered.workSpace">Work Space</label>
          <select
            class="form-control"
            id="field_workSpaces"
            data-cy="workSpace"
            multiple
            name="workSpaces"
            formControlName="workSpaces"
            [compareWith]="compareWorkSpace"
          >
            @for (workSpaceOption of workSpacesSharedCollection; track $index) {
              <option [ngValue]="workSpaceOption">{{ workSpaceOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
